
{% extends "base.html" %}
{% load static %}

{% block title %}Clothes{% endblock %}

{% block container %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="{% static '/styles.css' %}">


<style>
  body{
    background-color: white;
  }
  h1{
    font-family: "Sofia", sans-serif;
    color: pink;
  }
</style>

{% include 'navbar.html' %}

{% comment %}
//////////////////////////////////////////////////////////////
<center> 
<table> 
<tr><th>Name</th><th>Image</th><th>Type</th><th>Price</th></tr>
{% for ci in clothing_items %}
  <tr>
    <td>{{ci.name}}</td>
    <td>
      <img src="{% url 'ci.image' %}" alt="img">
    </td>
    <td>{{ci.type}}</td>
    <td>{{ci.price}}</td>
  </tr>
{% endfor %}
</table>
</center>
//////////////////////////////////////////////////////////////
{% endcomment %}


  {% for ci in clothing_items %}
  <div class="card w-75 mx-auto" style="margin-bottom: 20px">
    <div class="card-body">
      <div style="font-family: 'Playfair Display', serif;">
        <p> <img src="{{ ci.image }}"></p>
        <p class="card-text"><b>{{ci.name}}</b></p>
        <p class="card-text"><b>Size: </b>{{ci.size}}   <b> Price: </b>${{ci.price}}   <b> Brand: </b>{{ci.brand}}   </p>
      </div>
    </div>
  </div>
  {% endfor %}


{% endblock %}
