<style>
  h3 {
    font-family: "Sofia", sans-serif;
    color: pink;
  }
</style>

<!-- Image and text -->
<nav class="navbar navbar-light" style="margin-bottom: 10px; background-color: #8f485b;">
  <img src="Clark Clothes.png" width="30" height="30" class="d-inline-block align-top" alt="">
  <h3 class="d-inline-block align-top" style="font-family: 'Sofia', sans-serif; color:pink;">Clark Clothes</h3>
  <div class="d-inline-block align-top">
      {% block content %}
      {% if user.is_authenticated %}
      <div style="color: pink;"> Hi {{ user.username }} -
      <a href="{% url 'logout' %}" style="color: pink;">Log Out</a>
      </div>
      {% else %}
      <a href= "{% url 'login' %}" style="color: pink;">Log In </a>
      {% endif %}
      {% endblock %}
  </div>
</nav>
