<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">

<style>
    h2 {
      font-family: "Sofia", sans-serif;
      color: pink;
    }
    .centered{
      position: fixed;
      top: 15%;
      left: 40%;
    }
    body{
      background-color: F3F3F3;
    }
  </style>
  
  <center>
    <div class="card centered" style="width: 18rem;">
      <div class="card-body" style="text-align: left;">
        <h2 style="text-align: center;">Delete Type</h2>
        <form method="POST" enctype="multipart/form-data">
 
            <!-- Security token -->
            {% csrf_token %}
            Are you sure you want to delete this item?
            <!-- Using the formset -->
            {{ form.as_p }}
            <br>
            <button type="submit" class="btn btn-secondary" style="float: right; background-color: #FFC0CB; color: black">Yes</button>
            <a class="btn btn-secondary" href="/clarkclothes" role="button">Back</a>
        </form>
      </div>
    </div>
  </center>