<head>

{% extends "base.html" %}
{% load static %}

{% block title %}Clothes{% endblock %}

{% block container %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="{% static '/styles.css' %}">



<style>
  body{
    background-color: F3F3F3;
  }
  h1{
    font-family: "Sofia", sans-serif;
    color: pink;
  }
  .main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
</style>
</head>
<body>
  {% include 'navbar.html' %}
<div class="main">
  {% for ci in clothing_items %}
  <div class="card mx-auto" style="margin-bottom: 20px; background-color: white;">
    <div class="card-body">
      <div style="font-family: 'Playfair Display', serif;">
        <p class="card-text"><b>{{ci.name}}</b></p>
        <img src="{{ci.image.url}}" alt="image" height="100px" width="100px">
        <p class="card-text"><b>Size: </b>{{ci.size}}<br>   <b> Price: </b>${{ci.price}}<br>   <b> Brand: </b>{{ci.brand}}<br>   <b> Seller: </b>{{ci.user_email}}</p>
        {% block update %}
          {% if ci.user_email|stringformat:"s" == user.email %}
            <a href="{% url 'update_view' ci.id %}" class="btn btn-secondary" role="button" style="float: right; margin-right: 187px; margin-bottom: 10px;">Edit</a>
            <a href="{% url 'delete_view' ci.id %}" class="btn btn-secondary" role="button" style="float: right; margin-right: 187px; margin-bottom: 10px;">Delete</a>
          {% endif %}
        {% endblock %}
      </div>
    </div>
  </div> 
  {% endfor %}
</div>

{% endblock %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
