{% load static %}
<style>
  h3 {
    font-family: "Sofia", sans-serif;
    color: pink;
  }
</style>

<!-- Image and text -->
<nav class="navbar navbar-light" style="margin-bottom: 10px; background-color: #8f485b;">
  <img src="{% static '/logo.png' %}" width="30" height="30" class="align-top" alt="">
  <h3 class="align-top"><a href="/clarkclothes" style="font-family: 'Sofia', sans-serif; color: pink;">Clark Clothes </a></h3>
  <div class="align-top">
      {% block content %}
      {% if user.is_authenticated %}
      <div style="color: pink;"> Hi {{ user.username }} -
      <a href="{% url 'logout' %}" style="color: pink;">Log Out</a>
      </div>
      {% else %}
      <a href= "{% url 'login' %}" style="color: pink;">Log In </a>
      {% endif %}
      {% endblock %}
  </div>
</nav>
